<html>
  <body>
    Cliquez sur le lien pour définir un nouveau mot de passe sur CoachLab:
    <a href="<%= base_url %>/mot-de-passe-oublie?token=<%= hash %>"> <%= base_url %>/mot-de-passe-oublie?token=<%= hash %> </a> <br/>
  </body>