<html>
<body>

    Prénom: <%= "#{user.firstname} " %><br/>
    Nom: <%= "#{user.lastname}" %><br/>
    Téléphone: <%= "#{user.phone}" %><br/>
    Email: <%= "#{user.email}" %><br/>
    <%= if user.role == "coach" do %>
        Spécialités : <%= user.specialties |> Enum.join(" | ") %><br/>
    <% else %>
        Description : <%= "#{user.coach_desc}" %><br/>
    <% end %>

</body>