<html>
<body>

    Prénom: <%= "#{user.firstname} " %><br/>
    Nom: <%= "#{user.lastname}" %><br/>
    Téléphone: <%= "#{user.phone}" %><br/>
    Email: <%= "#{user.email}" %><br/>
    <%= if user.role == "coach" do %>
        Spécialités : <%= user.specialties |> Enum.join(" | ") %><br/>
        Description : <%= user[:desc] %><br/>    
    <% else %>
        <%= if !is_nil(user[:coach_desc]) do %>
            Recherche Coach : <%= "#{user[:coach_desc]}" %><br/>
        <% end %>
        <%= if !is_nil(coach) do %>
            Coach assigné :  <%= "#{coach[:firstname]} #{coach[:lastname]}" %><br/>
        <% end %>
    <% end %>
</body>