<!DOCTYPE html>
<head>
    <title>CoachLab</title>
    <meta charset="UTF-8">
    <!-- @TODO: define extensive list of SEO keyword -->
    <meta name="keywords" content="Coach, Coaching, Coach sportif, Coach de vie, Plateforme de coaching, Visio-conférence, live vidéo">
    <meta name="description" content="Plateforme complète pour coaching">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Théophile de Cagny">
   <!-- @TODO: change development for production, by using eex & mix env for example -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    <!-- <script crossorigin src="https://unpkg.com/react@19.1.0/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@19.1.0/umd/react-dom.production.min.js"></script>  -->

    <!-- @TODO: change all calls using axios to fetch, then delete dependency -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.30.0/dist/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.30.0/axios.min.js" crossorigin></script> -->

    <script src="https://use.fontawesome.com/d9323d863e.js"></script>
</head>
<body>
    <a id="top"></a>