/* primary color: #26619C, secondary color: #318CE7 */

@font-face {
    font-family: Isidora-Medium;
    src: url("./fonts/Isidora-Medium.otf") format("opentype");
  }  

  @font-face {
    font-family: IsidoraSans-Medium;
    src: url("./fonts/IsidoraSans-Medium.otf") format("opentype");
  }  

  @font-face {
    font-family: Isidora-Bold;
    src: url("./fonts/Isidora-Bold.otf") format("opentype");
  }  

  html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Isidora-Medium, IsidoraSans-Medium, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* /!\ Problème avec les accents pour Isidora-Bold */
.bold-font {
    font-family: Isidora-Bold, Isidora-Medium, IsidoraSans-Medium, sans-serif;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    outline: none;
}

.hidden {
    display: none !important;
}

.page-title {
    color: #26619C;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

/* AGENDA */

.agenda-wrapper {
    min-width: 790px;
    min-height: 990px;
    color: #26619C;
    display: flex;
    flex-direction: column;
}

.agenda-header {
    margin-top: 20px;
    display: flex;
}

.flash-message {
    height: 45px;
    display: flex;
    color: #26619C;
    align-items: center;
    justify-content: center;
}

.flash-message.success{
    background-color: lightgreen;
}

.flash-message.error{
    background-color: red;
    color: white;
}

.flash-message.warning{
    background-color: orange;
}

.week-selectors {
    display: flex;
    justify-content: space-between;
    color: #318CE7;
    margin-bottom: 10px;
}

.next-week {
    cursor: pointer;
    font-weight: bold;
    margin-right: 15px;
}

.previous-week {
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
}

.agenda-name {
    color: #318CE7;
}

.agenda-header-section.hour-column {
    max-width: 70px;
    padding-right: 0;
    padding-left: 0;
    border-left: none;
}

.agenda-content-column.hour-column {
    border-left: none;
    max-width: 70px;
}

.schedule-cell {
    border-bottom: 1px solid #26619C;
    display: flex;
    flex-grow: 1;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.schedule-cell-content {
    width: 100%;
    height: auto;
    /* margin: 7px 5px 7px 5px;
    border: 1px solid white; */
    color: #318CE7;
}

.schedule-cell-content.empty {
    color: white;
}

.schedule-cell .schedule-cell-content.empty:hover {
    border: 2px solid #318CE7;
    color: #318CE7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
}

.schedule-cell.unavailable {
    background-color: lightgrey;
}

.hour-cell {
    border-bottom: 1px solid #26619C;
    justify-content: flex-end;
    padding: 7px 0;
    display: flex;
    flex-grow: 1;
}

.agenda-header-section {
    border: 1px solid #26619C;
    border-top: none;
    display: flex;
    flex-grow: 1;
    height: 35px;
    padding: 3px 3px 3px 5px;
    align-items: center;
    font-weight: bold;
    width: 100px;
    /* flex-basis: 50%; */
}

.agenda-content-wrapper {
    display: flex;
    flex-grow: 1;
}

.agenda-content-column {
    border: 1px solid #26619C;
    border-top: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100px;
}

/* NAVBAR */
.user-dropdown {
    cursor: pointer;
}

.navbar-wrapper {
    padding: 15px 10px;
    /* border-bottom: 1px solid;
    border-color: #318ce7; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #26619C;
    /* background: linear-gradient(90deg, #318CE7 0%, #26619C 100%); */
}
.navbar-wrapper .menu-section {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 6px;
}

.navbar-wrapper .menu-section.no-login {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 6px;
}

.menu-section.menu-item {

}

.menu-item.login {
    margin-right: 15px;

}

.menu-section .menu-item:hover {
    color: white;
}
.menu-dropdown-list {
    position: absolute;
    margin: 15px;
    z-index: 3;
    border: 1px solid black;
    right: 0;
    top: 40px;
    background-color: white;
}

.menu-dropdown-list.hidden {
    display: none;
}

.menu-dropdown-list-item {
    padding: 13px 15px;
    cursor: pointer;
    color: #26619C;
}
.menu-dropdown-list-item:hover {
   background-color: aliceblue;
}

.sign-up-section {
    text-align: center;
    cursor: pointer;
}

/* LANDING */

.landing-page-title {
    margin-top: 40px;
    color: white;
    font-weight: bolder;
    justify-content: center;
    display: flex;
    font-size: 26px;
    margin-bottom: 20px;
    font-family: Isidora-Bold;
}

.landing-subtitle-small {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 40px;
}

.signup-section {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.landing-primary-signup {
    margin-bottom: 80px;
}

.landing-signup-button {
    border-radius: 20px;
    margin-top: 10px;
    padding: 16px 30px;
    color: #318CE7;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: white;
    /* background: #26619C;
    background: linear-gradient(90deg, #318CE7 0%, #26619C 100%); */
}

.landing-first-page-wrapper {
    background: #26619C;
    background: linear-gradient(
        180deg, #26619C 64%, #318CE7 77%, white 92%);
    color: white;
    padding-bottom: 80px;
    height: 140vh;
}

.landing-wrapper.logo-wrapper {
    margin-top: 80px;
}

.landing-first-page-wrapper .logo-section {
    padding-top: 28%;
}

.landing-section {
    margin-bottom: 20px;
    display: flex;
}


.landing-section-column {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

.landing-section-column-title {
    color: black;
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 22px;
}

.landing-section-column-desc {
    color: grey;
    font-size: 18px;
}


/* INFOS */
.infos-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin: 20px 0;
}

.infos-form .input-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;    
}

.button-group {
    justify-content: flex-end;
}

.input-label {
    width: 150px;   
}

.centered-text {
    text-align: center;
}

/* FOOTER */

.footer {
    background: #26619C;
    background: linear-gradient(90deg, #318CE7 0%, #26619C 100%);
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: 1px solid #318ce7;
    margin-top: 20px;
    padding-top: 15px;
    font-size: 20px;
}

.contact-mail {
    font-weight: bold;
    margin-left: 10px;
}

/* MODAL */

.modal {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    background-color: gray;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    font-size: 22px;
    color: red;
}

.fa {
    font-family: 'FontAwesome';
}

.input-group.radio-group {
    justify-content: space-between ;
}

.radio-label {
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
}

.radio-choices {
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

/* BUTTONS */
.cl-radio {
    cursor: pointer;
}

.cl-button {
    margin-top: 10px;
    color: white;
    background-color: #26619C;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}


/* LOGO */
.logo-section {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-wrapper .logo-wrapper {
    margin-right: 130px;
}

.first-logo-span {
    color: #318ce7;
    font-size: 30px;
    font-weight: bold;
}

.second-logo-span {
    color: #26619C;
    font-size: 30px;
    font-weight: bold;
}

.white-logo {
    color:white !important;
}

.welcome-page-title {
    font-size: 42px;
}

.welcome-page-content {
    display: flex;
    justify-content: center;
    margin: 200px 0;
    font-size: 28px;
    text-align: center;
}